In [1]:
import pandas as pd

# CASO 1: COLUMNA DEL DATAFRAME CON LA FECHA

In [11]:
df_temp = pd.read_excel(r'C:\Users\ivan_pinar\Dropbox\Creación de MOCs\MOC Master Python Análisis de Datos\Datasets\10.1\Temperaturas.xlsx',sheet_name="Sheet1")

In [12]:
df_temp["T.Promedio"]=(df_temp["T. Máxima"]+df_temp["T.Mínima"])/2

In [13]:
df_temp.head()

       FECHA  Ciudad  T. Máxima  T.Mínima  T.Promedio
0 2019-06-01  Madrid       33.1      17.2       25.15
1 2019-06-02  Madrid       34.5      19.0       26.75
2 2019-06-03  Madrid       32.8      20.3       26.55
3 2019-06-04  Madrid       29.0      18.9       23.95
4 2019-06-05  Madrid       22.1      12.7       17.40

In [14]:
df_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 732 entries, 0 to 731
Data columns (total 5 columns):
FECHA         732 non-null datetime64[ns]
Ciudad        732 non-null object
T. Máxima     729 non-null float64
T.Mínima      729 non-null float64
T.Promedio    729 non-null float64
dtypes: datetime64[ns](1), float64(3), object(1)
memory usage: 28.7+ KB

In [15]:
df_temp.index = df_temp["FECHA"]

In [16]:
df_temp.drop("FECHA",axis=1,inplace=True)

In [17]:
df_temp.head()

            Ciudad  T. Máxima  T.Mínima  T.Promedio
FECHA
2019-06-01  Madrid       33.1      17.2       25.15
2019-06-02  Madrid       34.5      19.0       26.75
2019-06-03  Madrid       32.8      20.3       26.55
2019-06-04  Madrid       29.0      18.9       23.95
2019-06-05  Madrid       22.1      12.7       17.40

# CASO 2: COLUMNA DEL DATAFRAME CON LA FECHA COMO STRING

In [32]:
df_temp_s = pd.read_excel(r'C:\Users\ivan_pinar\Dropbox\Creación de MOCs\MOC Master Python Análisis de Datos\Datasets\10.1\Temperaturas_fs.xlsx',sheet_name="Sheet1")

In [33]:
df_temp_s.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 732 entries, 0 to 731
Data columns (total 4 columns):
Fecha s      732 non-null object
Ciudad       732 non-null object
T. Máxima    729 non-null float64
T.Mínima     729 non-null float64
dtypes: float64(2), object(2)
memory usage: 23.0+ KB

In [34]:
df_temp_s.head()

      Fecha s  Ciudad  T. Máxima  T.Mínima
0  01/06/2019  Madrid       33.1      17.2
1  02/06/2019  Madrid       34.5      19.0
2  03/06/2019  Madrid       32.8      20.3
3  04/06/2019  Madrid       29.0      18.9
4  05/06/2019  Madrid       22.1      12.7

In [36]:
df_temp_s["Fecha s"] = pd.to_datetime(df_temp_s["Fecha s"])

In [37]:
df_temp_s.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 732 entries, 0 to 731
Data columns (total 4 columns):
Fecha s      732 non-null datetime64[ns]
Ciudad       732 non-null object
T. Máxima    729 non-null float64
T.Mínima     729 non-null float64
dtypes: datetime64[ns](1), float64(2), object(1)
memory usage: 23.0+ KB

In [39]:
df_temp_s.index = df_temp_s["Fecha s"]

In [40]:
df_temp_s.head()

              Fecha s  Ciudad  T. Máxima  T.Mínima
Fecha s
2019-01-06 2019-01-06  Madrid       33.1      17.2
2019-02-06 2019-02-06  Madrid       34.5      19.0
2019-03-06 2019-03-06  Madrid       32.8      20.3
2019-04-06 2019-04-06  Madrid       29.0      18.9
2019-05-06 2019-05-06  Madrid       22.1      12.7

# CASO 3: IMPORTACIÓN CON PARSEO DE FECHA

In [41]:
df_temp = pd.read_excel(r'C:\Users\ivan_pinar\Dropbox\Creación de MOCs\MOC Master Python Análisis de Datos\Datasets\10.1\Temperaturas.xlsx',sheet_name="Sheet1",parse_dates=True,index_col="FECHA")

In [42]:
df_temp.head()

            Ciudad  T. Máxima  T.Mínima
FECHA
2019-06-01  Madrid       33.1      17.2
2019-06-02  Madrid       34.5      19.0
2019-06-03  Madrid       32.8      20.3
2019-06-04  Madrid       29.0      18.9
2019-06-05  Madrid       22.1      12.7