In [1]:
import pandas as pd

# Importación de datos de ventas diario

In [16]:
df_ventas_dia = pd.read_csv(r'C:\Users\ivan_pinar\Dropbox\Creación de MOCs\MOC Master Python Análisis de Datos\Datasets\12.1\Ventas_dia.csv',encoding = "ISO-8859-1",delimiter=';',parse_dates=True)

In [17]:
df_ventas_dia

,ID_Pedido,Unidades,Precio Unitario,Fecha,Línea de Producto,Código de Producto,País,Territorio
0,3,66,"85,39",01/06/2022,Classic Cars,S12_1099,Finland,EU
1,4,68,"96,73",01/06/2022,Classic Cars,S12_3380,Finland,EU
2,5,68,"81,62",01/06/2022,Classic Cars,S12_3990,Finland,EU
3,6,92,"88,45",01/06/2022,Classic Cars,S12_4675,Finland,EU
4,7,44,100,01/06/2022,Classic Cars,S18_1889,Finland,EU
5,10,92,"60,3",01/06/2022,Classic Cars,S18_3278,Finland,EU
6,11,48,100,01/06/2022,Classic Cars,S18_3482,Spain,EU
7,12,64,"89,12",01/06/2022,Motorcycles,S18_3782,Spain,EU
8,13,56,"58,18",01/06/2022,Classic Cars,S18_4721,Spain,EU
9,8,42,100,01/06/2022,Motorcycles,S24_2000,Spain,EU
10,14,86,"61,23",01/06/2022,Motorcycles,S24_2360,Spain,EU
11,15,42,100,01/06/2022,Classic Cars,S24_3371,Spain,EU
12,1,62,"94,58",01/06/2022,Classic Cars,S24_3856,Spain,EU
13,9,86,100,01/06/2022,Classic Cars,S24_4620,Spain,EU
14,2,100,100,01/06/2022,Motorcycles,S32_1374,Spain,EU
15,1,96,"48,28",01/06/2022,Motorcycles,S32_2206,Spain,EU

In [20]:
df_ventas_dia["Precio Unitario"]=df_ventas_dia["Precio Unitario"].str.replace(",",".")
df_ventas_dia["Precio Unitario"]=pd.to_numeric(df_ventas_dia["Precio Unitario"])

In [21]:
df_ventas_dia["Total Venta"]=df_ventas_dia["Precio Unitario"]*df_ventas_dia["Unidades"]

In [22]:
df_ventas_dia.groupby(["País","Línea de Producto"])["Total Venta"].sum()

País     Línea de Producto
Finland  Classic Cars         35848.54
Spain    Classic Cars         26722.04
         Motorcycles          29804.34
Name: Total Venta, dtype: float64

In [34]:
df_ventas_res = df_ventas_dia.groupby(["País","Línea de Producto"])["Total Venta"].agg("sum").reset_index(name="suma")

In [35]:
df_ventas_res

      País Línea de Producto      suma
0  Finland      Classic Cars  35848.54
1    Spain      Classic Cars  26722.04
2    Spain       Motorcycles  29804.34

In [36]:
#Exportar a Excel
df_ventas_res.to_excel(r'C:\Users\ivan_pinar\Dropbox\Creación de MOCs\MOC Master Python Análisis de Datos\Datasets\12.1\Ventas_res.xlsx',sheet_name = "Ventas País - Producto")

In [39]:
!jupyter nbconvert --to script 12.1_Generación_de_scripts.ipynb

[NbConvertApp] Converting notebook 12.1_Generación_de_scripts.ipynb to script
[NbConvertApp] Writing 1211 bytes to 12.1_Generación_de_scripts.py